{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.spryngtime.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/createFromTemplate": {
      "post": {
        "summary": "Create a message from a template (PDF with fields already added) that has been pre-created on Spryngtime.",
        "description": "Sends a message using a predefined template to one or more recipients.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["templateId", "recipients"],
                "properties": {
                  "templateId": {
                    "type": "string",
                    "description": "ID of the template to use"
                  },
                  "recipients": {
                    "type": "array",
                    "description": "List of recipient objects",
                    "items": {
                      "type": "object",
                      "required": ["email", "name"],
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email",
                          "description": "Email address of the recipient"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the recipient"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
              "description": "Successfully created message from template",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "description": "Response data",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "Status message"
                      },
                      "pdf_id": {
                        "type": "string",
                        "description": "Identifier of the created PDF"
                      },
                      "s3_url": {
                        "type": "string",
                        "description": "URL to access the PDF stored in S3"
                      },
                      "fields": {
                        "type": "object",
                        "description": "Template fields"
                      },
                      "recipients": {
                        "type": "array",
                        "description": "List of recipient email addresses",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    }
                  }
                }
              }
            },
          "400": {
            "description": "Invalid request or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (API key missing or invalid)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/plant/webhook": {
      "post": {
        "description": "Information about a new plant added to the store",
        "requestBody": {
          "description": "Plant added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}